html,
.App,
#root,
body {
  border-top: 1px solid;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  color: cadetblue;
}

.imgContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2rem;
  color: cadetblue;
}

img {
  width: 12rem;
}
